/*--- Base Styles ---*/

body {
  min-width: 320px;
  background: url(../images/codes.svg) no-repeat fixed;
  background-size: cover;
}

/*--- Nav Menu ---*/

.nav {
  display: inline-flex;
}

/*--- Contact Modal ---*/

.contact-form {
  text-align: initial;
}

/*--- Media Queries ---*/

@media (max-width: 398px) {
  .lead {
    font-size: 1.16rem;
  }
}

@media (max-width: 374px) {
  .cover-heading {
    font-size: 2.1rem;
  }
  .lead {
    font-size: 0.96rem;
  }
}